body {
    font-family: Calibri;
    font-weight: 100;
}

.header, .footer {
    color: white;
    background-color: black;
    margin: 0;
    text-align: center;
}

.header {
    height: 70px;
    font-size: 50px;
    padding: 10px;
}

.footer {
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px;
}

.middle {
    margin-bottom: 100px;
}

.menu {
    width: 200px;
    padding: 20px;
    list-style-type: none;
    text-align: right;
    float: left;
    border-right: 3px solid black;

}

.content {
    width: -moz-calc(100% - 323px);
    width: -webkit-calc(100% - 323px);
    width: calc(100% - 323px);
    float: left;
    height: 100%;
    padding: 40px;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    margin: 3px;
}